.App {
  text-align: left;
}

textarea {
  width: calc(100% - 10px);
  margin: 5px;
  box-sizing: border-box;
  font-size: 20px;
  border-radius: 17px;
  padding: 0 10px;
  word-break: break-all;
}

#bottom {
  border-bottom: 0;
  margin-bottom: 0;
}

.MuiOutlinedInput-input {
  padding: 9px !important;
}

.dialog-inputs {
  display: flex;
  flex-wrap: wrap;
}
.dialog-inputs > div {
  margin-top: 7px;
}

.input-icon {
  width: 120px;
}
.input-title {
  width: 300px;
}
.input-project {
  width: 4em;
}
.talklistButtons {
  vertical-align: top;
}

.talkList .MuiListItem-gutters {
  padding-left: 0;
  padding-right: 0;
  align-items: flex-end;
}
